In [1]:
import pandas as pd

In [14]:
file = "./momentum_and_features.csv"
df = pd.read_csv(file)
df = df.set_index("Date")
del df['Unnamed: 0']
df.head()

,Open,High,Low,Close,Volume,T3_Vol_Diff,T3_Close_Diff,T3_Open_Diff,T2_Vol_Diff,T2_Close_Diff,T2_Open_Diff,T1_Vol_Diff,T1_Close_Diff,T1_Open_Diff,Prior_Day_Vert_Delta_Ratio,Retracement_Signal,Prior_Day_Derivative,T+1_Close,T+2_Close,T+3_Close
Date,,,,,,,,,,,,,,,,,,,,
1993-12-06,46.78125,46.93750,46.78125,46.87500,99500,279700,-0.46875,-0.18750,252500,-0.34375,-0.28125,206500,-0.15625,-0.28125,0.714286,0.600000,-0.415572,46.84375,46.84375,46.68750
1993-12-07,46.87500,46.90625,46.78125,46.84375,88800,263200,-0.31250,-0.37500,217200,-0.12500,-0.37500,10700,0.03125,-0.09375,0.800000,0.500000,0.327195,46.84375,46.68750,46.59375
1993-12-08,46.84375,46.84375,46.78125,46.84375,146700,159300,-0.12500,-0.34375,-47200,0.03125,-0.06250,-57900,0.00000,0.03125,0.500000,1.000000,0.000000,46.68750,46.59375,46.87500
1993-12-09,46.84375,46.90625,46.62500,46.68750,416500,-317000,0.18750,-0.06250,-327700,0.15625,0.03125,-269800,0.15625,0.00000,4.500000,0.222222,0.000000,46.59375,46.87500,46.53125
1993-12-10,46.71875,46.71875,46.50000,46.59375,412900,-324100,0.25000,0.15625,-266200,0.25000,0.12500,3600,0.09375,0.12500,0.777778,0.428571,-0.717356,46.87500,46.53125,46.46875

In [15]:
df.to_json("momentum_and_features.json")